* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: black;
  color: white;
  font-family: "Poppins";
}

:root {
  --primary-color: #9f70ff;
  --copy-color: #A1A1A6;
  --primary-color-20: #2C0262;
  --primary-color-55: #6926F2;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-wrapper {
  .wrapper {
    header {
      display: flex;
      justify-content: space-between;

      .logo {
        display: flex;

        .devs {
          color: var(--primary-color);
          font-weight: bold;
        }

        .decide {
          font-weight: lighter;
        }

        font-size: 1.5em;
      }

      ul {
        display: flex;

        li a {
          font-size: 1.25em;
          padding: 0 0.6em;
        }
      }
    }
  }
}

.hero-wrapper {
  background-size: cover;
  background: url("../img/herobackground.webp") center;
  height: 100vh;
  width: 100vw;

  .hero-overlay {
    background: rgba(0, 0, 0, 0.7);
    height: 100vh;
  }

  .wrapper {
    display: flex;
    align-content: center;
    align-items: center;
    height: 70vh;
    width: 615px;
  }

  .hero-content {
    h1 {
      font-weight: normal;
      font-size: 4.5em;
      line-height: 100%;
    }

    .subtitle {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 1.5em;
    }

    .hero-cta {
      text-align: center;
      margin-top: 2rem;
    }
  }
}

.feature-wrapper {
  .use-case-copy {
    color: var(--copy-color);
    font-size: 4em;
    line-height: 100%;
    margin-bottom: 5rem;
    text-align: center;
  }

  .feature-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;

    .card-2 {
      border-radius: 1rem;
      padding: 3rem;
      background-color: var(--primary-color-20);
      flex: 5%;
      display: grid;
      grid-gap: 3rem;

      li {
        font-size: 1.40em;
        font-weight: normal;
      }
    }

    .card {
      border-radius: 1rem;
      padding: 3rem;
      background-color: var(--primary-color-20);
      flex: 45%;
      display: grid;
      grid-gap: 3rem;
    }

    .card-text {
      h3 {
        font-weight: 100;
        font-size: 2em;
        margin: 0;
        margin-bottom: 2rem;
      }

      p {
        font-size: medium;
        margin: 0;
      }
    }
  }

  .feature-cta {
    text-align: center;
    margin-top: 2rem;
  }
}


.use-cases-wrapper {
  .use-case-copy {
    color: var(--copy-color);
    font-size: 4em;
    line-height: 100%;
    margin-bottom: 5rem;
    text-align: center;
  }

  .use-case-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;

    .card {
      border-radius: 1rem;
      padding: 3rem;
      background-color: #151515;
      flex: 45%;
      display: grid;
      grid-gap: 3rem;

      .card-text {
        h3 {
          font-weight: 100;
          font-size: 2em;
          margin: 0;
          margin-bottom: 2rem;
        }

        p {
          margin: 0;
          font-size: 1em;
        }
      }

      a {
        font-weight: bold;
        color: var(--primary-color);
        font-size: 1.35em;
        align-self: end;
        text-decoration: none;

        svg {
          fill: var(--primary-color);
        }

      }

    }
  }
}

.wrapper {
  padding: 1.5rem;
  max-width: 1600px;
  margin: 0 auto;
}

.primary-cta {
  background: var(--primary-color-55);
  color: white;
  text-decoration: none;
  padding: 0.6em 1.3em;
  font-size: 1.5em;
  border-radius: 5rem;
  font-weight: bold;
  display: inline-block;
}
