.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#hero {
  background-image: radial-gradient(circle at 85% 1%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 96%,transparent 96%, transparent 100%),radial-gradient(circle at 14% 15%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 1%,transparent 1%, transparent 100%),radial-gradient(circle at 60% 90%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 20%,transparent 20%, transparent 100%),radial-gradient(circle at 79% 7%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 78%,transparent 78%, transparent 100%),radial-gradient(circle at 55% 65%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 52%,transparent 52%, transparent 100%),linear-gradient(135deg, rgb(121,66,151),rgb(90,42,131));
}

#sales {
  background-color: #2a0d50
}

#redefine {
  background-color: #2a0d50
}

#overwhelmed {
  background-color: #2a0d50
}

#how-we {
  background-color: #2a0d50
}

#contact-us {

}

.reveal {
  position: relative;
  transform: translateY(50px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active  {
  transform: translateY(0);
  opacity: 1;
}

.gradient-overlay {

}

.indicator {
  /*width: 25px;*/
  /*height: 40px;*/
  border: 2px solid #fff;
  border-radius: 50px;
  position: relative;
}
.indicator:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #fff;
  margin: auto;
  left: 0;
  right: 0;

  border-radius: 50%;
  animation: animate 1s linear infinite;
}
@keyframes animate {
  0% {
    opacity: 1; top: 10px;
  }
  100% {
    opacity: 0; top: 100px;
    transform: scale(0.8);
  }
}


.ctabtn {

  background-image: -webkit-linear-gradient(45deg, #a855f7 50%, transparent 50%);
  background-image: linear-gradient(45deg, #a855f7 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 700ms ease-in-out;
}
.ctabtn:hover {
  background-position: 0;
}

.cardgrid {
  /*grid-template-rows: auto auto auto 1fr auto*/
}

#navbar {
  background-color: black;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  transition: top 0.3s;
}